body {
    background-color: rgb(238, 40, 73);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 40px;
}

#entrada {
    padding: 12px;
    width: 300px;
    border: none;
    font-size: 16px;
    align-items: center;
}

#botao {
    background-color: black;
    color: rgb(238, 40, 73);
    border: none;
    padding: 13px 20px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
    width: 500px;
}

li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-remover {
    background-color: rgb(236, 234, 234);
    color: rgb(238, 40, 73);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
